
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* HEADER */

#dartbot-header {
  width: 100%;
  height: 90%;
  position: relative;

  background-color: #f8b7c7;
}

#header-video {
  width: 100%;
  height: 100%;
}

#header-title {
  position: absolute;
  top: 35%;
  width: 100%;
  display: inline-block;
  text-align: center;

  color: white;
  font-size: 120px;
  font-family: monospace;
  letter-spacing: 4px;
}

/* FOOTER */

.footer {
  height: 150px;
}

/* SECTIONS */

.dartbot-section {
  width: 960px;
  margin: auto;
  padding: 20px;

  margin-bottom: 100px;
}

.dartbot-section-header {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 24px;

  font-size: 72px;
  font-style: italic;

  color: #1e1e1e;
}

.dartbot-section-body {
  position: relative;
  margin: 0px 30px;

  font-size: 20px;
  line-height: 30px;

  color: #1d1d1d;
}

/* TEAM */

.team-member {
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;

  min-height: 270px;
}

.team-member-info, .team-member-bio {
  width: 60%;
}

.team-member-info {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.team-member-name {
  font-weight: bold;
  font-size: 22px;
}

.team-member-major {
  font-size: 16px;
}

.team-member-picture-container {
  position: absolute;
  right: 5%;
  bottom: 0px;

  height: 270px;
  max-height: 100%;
}

  .team-member-picture-container img {
    max-width: 100%;
    max-height: 100%;

    box-shadow: 5px 5px 15px 7px #313131;
  }

/* GALLERY */

.dartbot-gallery {
  text-align: center;
}

  .gallery-image {
    margin: 50px 0px;
  }

  .gallery-image.dyptich {
    display: inline-block;
    width: 50%;
  }

  .gallery-image img {
    max-height: 450px;
  }

  .gallery-image img, .gallery-image video {
    max-width: 100%;
    box-shadow: 10px 10px 30px 7px #313131;
  }

/* MENU */

#dartbot-menu {
  position: fixed;
  bottom: 20px;
  left: 0%;
  width: 100%;
  text-align: center;

  font-family: monospace;
}

  #dartbot-menu a {
    display: inline-block;

    text-decoration: none;

    color: white;
    background-color: black;

    padding: 10px;
    margin: 4px;

    letter-spacing: 1px;
  }

    #dartbot-menu a.active-menu-button {
      background-color: #2d85e9;
    }

    #dartbot-menu a:hover {
      color: black;
      background-color: yellow;
    }
